<div class="container">
  <div class=" accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <div class="row">
          <div class="col-10">
            <h2 class="mb-0">
              List Name
              <span class="badge badge-danger badge-pill">{{
                items.length
              }}</span>
            </h2>
            <p>Total {{ items.length }}</p>
          </div>
          <div class="col-2">
            <button class="btn btn-link" type="button" (click)="addList()">
              <img src="../assets/plus-icon.png" alt="" />
            </button>
            <button class="btn btn-link" type="button">
              <img src="../assets/down-arrow.png" alt="" />
            </button>
          </div>
        </div>

        <div>
          <ul *ngFor="let item of items" class="list-group">
            <li class="list-group-item">
              <list-items (itemDeleted)="onDeleted($event)"></list-items>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
