<div class="row">
  <div class="col-md-2">
    <img
      src="https://fakeimg.pl/100x100/"
      class="rounded-circle float-left mr-4"
      alt="..."
    />
  </div>
  <div class="col-md-6">
    <h4>Anim pariatur cliche</h4>
    <h6>Anim pariatur cliche reprehenderit</h6>
    <p>
      enim eiusmod high life accusamus terry richardson ad squid.
    </p>
    <span>{{ valueDate | date: "EE, MMM d, y" }}</span>
  </div>
  <div class="col-md-4">
    <ul class=" nav  justify-content-end">
      <li class="nav-item">
        <button class="btn btn-success">Download</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger ml-2" (click)="onDelete()">Delete</button>
      </li>
    </ul>
  </div>
</div>
